.main_about-us{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    padding: 1.25rem;
    justify-content: center;
}
.form-control{
    display: flex;
}
.main_about-us-title{
    font-size: 3.125rem;
    padding: 1.25rem;
}

#content{
    padding: 0.313rem;
    height: 2.813rem;
    width: 31.25rem;
    resize: none;
    padding: 0.625rem;
    font-size: 1.25rem;
    border: none;
}

.form-control button{
    height: 2.813rem;
    line-height: 2.813rem;
    border: none;
    padding: 0.313rem;
    text-align: center;
    width: 6.25rem;
    font-size: 1.25rem
}

#list-task p{
    font-size: 3.125rem;
    padding: 0.625rem;
    text-transform: uppercase;
    text-align: center;
}

#list-task{
    width: 50%;
}
#list-task ul li{
    display: flex;
    background-color: #f1f1f1;
    padding: 0.625rem;
    margin-bottom: 0.313rem;
    color: black;
}
#list-task ul li div{
    width: 80%;
}

#list-task ul li a{
    text-decoration: none;
}

#list-task a{
    color: black;
}

#list-task ul li a:hover{
    color: tomato;
}

